<div class="card" 
     style="box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; "     
>
    <div class="card-header text-center">
        Registrarse
    </div>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onRegister()">
          <div class="mb-1">
            <label for="InputEmail" class="form-label">Correo electrónico</label>
            <input type="email" 
                   class="form-control"
                   id="InputEmail" 
                   aria-describedby="emailHelp"
                   formControlName="email"
                   (focus)="actualizarSmt()"
                   [ngClass]="form.get('email')?.valid?'is-valid':(((form.get('email')?.invalid)&&(form.get('email')?.dirty||form.get('email')?.touched))?'is-invalid':'')"
            />
            <div id="emailHelp" class="form-text">No compartiremos esta información con nadie.</div>
            <div style="height: 15px; font-size: 0.9rem;">
              <div class="invalid-feedback d-flex justify-content-start mt-0" *ngIf="(form.get('email')?.invalid)&&(form.get('email')?.dirty||form.get('email')?.touched)">
                <span *ngIf="form.get('email')?.errors?.['required']">Este campo es requerido.</span>
                <span *ngIf="form.get('email')?.errors?.['incorrectoName']">El formato es incorrecto.</span>
              </div>
            </div>
          </div>
          <div class="mb-1">
            <label for="InputPassword" class="form-label">Contraseña</label>
            <input type="password" 
                   class="form-control mb-1" 
                   id="InputPassword"
                   formControlName="password"
                   (focus)="actualizarSmt()"
                   [ngClass]="form.get('password')?.valid?'is-valid':(((form.get('password')?.invalid)&&(form.get('password')?.dirty||form.get('password')?.touched))?'is-invalid':'')"   
            />
            <div style="height: 15px; font-size: 0.9rem; ">
              <div class="invalid-feedback d-flex justify-content-start mt-0" *ngIf="(form.get('password')?.invalid)&&(form.get('password')?.dirty||form.get('password')?.touched)">
                <span *ngIf="form.get('password')?.errors?.['required']">Este campo es requerido.</span>
                <span *ngIf="form.get('password')?.errors?.['minlength']">La contraseña debe tener más de 4 caracteres.</span>
                <span *ngIf="form.get('password')?.errors?.['maxlength']">La contraseña debe tener menos de 20 caracteres.</span>
              </div>
            </div>
          </div>
          <div class="mb-1">
            <label for="InputPasswordRep" class="form-label">Repetir contraseña</label>
            <input type="password" 
                   class="form-control mb-1" 
                   id="InputPasswordRep"
                   formControlName="passwordRep"
                   (focus)="actualizarSmt()"
                   [ngClass]="((form.get('passwordRep')?.valid)&&(form.get('passwordRep')?.value === form.get('password')?.value))?'is-valid':( ((form.get('passwordRep')?.invalid)||(form.get('passwordRep')?.value != form.get('password')?.value)) && (form.get('passwordRep')?.dirty||form.get('passwordRep')?.touched)?'is-invalid':'')"   
            />
            <div style="height: 15px; font-size: 0.9rem; ">
              <div class="invalid-feedback d-flex justify-content-start mt-0" *ngIf="((form.get('passwordRep')?.invalid)&&(form.get('passwordRep')?.dirty||form.get('passwordRep')?.touched))||(form.get('passwordRep')?.value != form.get('password')?.value)">
                <span *ngIf="form.get('passwordRep')?.errors?.['required']">Este campo es requerido.</span>
                <span *ngIf="(form.get('passwordRep')?.value != form.get('password')?.value)&&(form.get('passwordRep')?.value != '')">La contraseña no es la misma.</span>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="InputNivel" class="form-label">Elegí tu nivel</label>
            <select class="form-control mb-1" id="InputNivel" formControlName="nivel">
              <option value="" selected disabled>Elegí...</option>
              <option value="admin">Profesional</option>
              <option value="user">Usuario</option>
            </select>
            <div style="height: 15px; font-size: 0.9rem; ">
              <div class="invalid-feedback d-flex justify-content-start mt-0" *ngIf="(form.get('nivel')?.invalid)&&(form.get('nivel')?.dirty||form.get('nivel')?.touched)">
                <span *ngIf="form.get('nivel')?.errors?.['required']">Tenés que ingresar un nivel.</span>
              </div>
            </div>
          </div>
          <!--<div class="mb-2 form-check">
            <input type="checkbox" 
                   class="form-check-input" 
                   id="Check"
                   formControlName="recuerdame"       
            />
            <label class="form-check-label" for="Check">Recuérdame</label>
          </div>-->
            <button type="submit" 
                    class="btn btn-primary form-control" 
                    [disabled]="form.invalid || estadoSmt != 'registro'" 
                    [ngClass]="(estadoSmt == 'ok')?'bg-success':((estadoSmt == 'error')?'bg-danger':'bg-primary')"         
            >
              <span *ngIf="estadoSmt == 'registro'">Registrarse</span>
              <span *ngIf="estadoSmt == 'load'">Loading...</span>
              <span *ngIf="estadoSmt == 'ok'">Ok!</span>
              <span *ngIf="estadoSmt == 'error'">Error!</span>
            </button>
        </form>
        <a type="button" class="d-block mt-3 text-end" style="font-size: 0.8rem;" (click)="irLogin()">Ya tenés una cuenta? Ingresá!</a>
    </div>
</div>
